:root{
    --primary-color: #29335c;
    --light-primary: #3f4f8d;
    --ligthest-color: #e9ebd5;
    --secondary-color: #774936;
    --light-secondary: #b97e64;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    display: flex;
    flex-direction: column;
    height: 100dvh;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    color: var(--ligthest-color);
}

button{
    cursor: pointer;
}

#search-container{
    display: flex;
    align-items:center;
    width: 50%;
    justify-content: flex-end;
   
}

header > h2 > i{
    margin-right: 0.5rem;
}

.movie-name-wrapper{
    width: 65%;
    display: flex;
    align-items:center
}

.movie-year-wrapper{
    display: flex;
    align-items:center;
}

#search-button{
    width: 5%;
    
}

.movie-year-wrapper > input{
    max-width: 5rem;
}

.movie-name-wrapper > input{
    width: 100%;
}

.movie-name-wrapper > input, 
.movie-year-wrapper > input{
    margin: 0 0.5rem;
    border-radius: 7px;
    padding: 0.3rem 0.2rem;
    font-weight: bold;

}


.movie-name-wrapper > label, 
.movie-year-wrapper > label{
    font-weight: bold;
}


#search-button{
    all: unset;
    border: 1px solid var(--ligthest-color);
    padding: 0.3rem;
    border-radius: 10px;
    cursor: pointer;

}


#search-button:focus,
#search-button:hover{
    background-color: var(--light-primary);
}


main{
    text-align: center;
    padding: 2rem 0;
    background-color: var(--ligthest-color);
    color: var(--primary-color);
    flex-grow: 1;
}